<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UK Tier-2 Sponsors</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="icon" type="image/png" href="https://emoji.dutl.uk/png/64x64/🇬🇧.png">
</head>
<style>
    #app {
        margin: auto;
        max-width: fit-content;
    }
    td, th {
        border-bottom: 1px solid darkgray; 
        border-right: 1px solid darkgray;
        padding: 0.2em;
    }
    td {
        line-height: 1.6em;
    }
    * {
        font-family: Helvetica;
    }
    a {
        color: mediumblue;
    }
</style>
<body>
<div id="app">
    <h1>UK Tier-2 Sponsors</h1>
    
    <input type="text" v-model="searchQuery" placeholder="Search...">
    <button @click="fetchData">Search</button>
    <br>
    <br>
    <div v-if="loading" class="spinner">
        Loading...
    </div>
    
    <table v-if="filteredData.length">
        <thead>
            <tr>
                <th v-for="header in headers" :key="header">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in filteredData" :key="row['Organisation Name']">
                <td v-for="header in headers" :key="header">{{ row[header] }}</td>
            </tr>
        </tbody>
    </table>
    <p v-else>No data available</p>
    <br><br>
    <br><br>
    <small>made by <a href="https://cemrekarakas.com/">cemre</a>.</small>
</div>


    <script>
        new Vue({
            el: '#app',
            data: {
                csvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vROQy0MGH2T6DQSzj7o8ws4o_XUQjmhf7BOY6fTrQzCJ05GmCvV0iz-9B8NMzxX5hM9ti9UQESToM3R/pub?single=true&output=csv',
                data: [],
                headers: [],
                searchQuery: '',
                loading: false,
            },
            computed: {
                filteredData() {
                    if (!this.searchQuery) {
                        return {}
                    }
                    return this.data;
                }
            },
            methods: {
                fetchData() {
                    this.loading = true; // Set loading to true before fetching data
                    Papa.parse(this.csvUrl, {
                        download: true,
                        header: true,
                        complete: (results) => {
                            this.data = results.data;
                            this.data = this.data.filter(row => {
                                return Object.keys(row).some(key => {
                                    return String(row[key]).toLowerCase().includes(this.searchQuery.toLowerCase());
                                });
                            });
                            this.headers = results.meta.fields;
                            this.loading = false; // Set loading to false after data is fetched

                        }
                    });
                }
            }
        });
    </script>
</body>
</html>
